{
    "mailConfig":{
        "sender": "",
        "recipients":[
            "",
            ""
        ],
        "copyRecipients":[
            "",
            ""
        ],
        "hiddenCopyRecipients":[
            "",
            "",
            ""
        ],
        "smtpRelay": ""
    },
    "apiConfig":{
        "tenantId": "",
        "clientId": "",
        "clientSecretSecretName": ""
    },
    "secretsConfig":{
        "secretVaultName": ""
    }
}